@model CosmoTrek_v3.Models.TrekPlanViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TrekPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Destination" class="control-label"></label>
                <select asp-for="Destination" class="form-control">
                    <option value="">Select</option>
                    <option value="Moon">Earth's Moon</option>
                    <option value="Mars">Mars</option>
                    <option value="Venus">Venus</option>
                </select>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="RocketType" class="control-label">Rocket Type</label>
                <select asp-for="RocketType" class="form-control">
                    <option value="">Select</option>
                    <option value="1">Antares</option>
                    <option value="2">Ariane 5</option>
                    <option value="3">Astra Rocket 3</option>
                    <option value="4">Ceres-1</option>
                    <option value="5">Dream Chaser</option>
                    <option value="6">Electron</option>
                    <option value="7">Falcon 9</option>
                    <option value="8">Falcon Heavy</option>
                    <option value="9">Hyperbola-1</option>
                    <option value="10">LauncherOne</option>
                    <option value="11">New Shepard</option>
                    <option value="12">Soyuz-2</option>
                    <option value="13">Spica</option>
                    <option value="14">Vega</option>
                    <option value="15">VSS Unity</option>
                </select>
                <span asp-validation-for="RocketType" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="control-label">
                    <label asp-for="Mode" class="control-label">Mode of Propulsion</label>
                    <select asp-for="Mode" class="select form-control">
                        <option value="false">Conventional</option>
                        <option value="true">Warp Drive (Lightspeed)</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LaunchDate" class="control-label">Launch Date</label>
                <input asp-for="LaunchDate" class="form-control" type="date" />
                <span asp-validation-for="LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-2">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
