@*
    
*@

@{
    ViewData["Title"] = "Space Companies";
    <h1 class="display-4">Space Companies</h1><br />
    <p class="note3">*** click images to visit partner websites ***</p>
    
       <article>

            <section id="Spacelines">
            <h2 class="banner">Commercial Spacelines<br /></h2>
            <p class="note1">(travel with disemarkment at destination)</p><br />

                <a href="https://www.arianespace.com/" target="_blank"><img class="logo" src="\images\Ariane.png" alt="Arianespace" /></a><br />
                <h4>Arianespace</h4>
                <p>A French company founded in 1980 as the world's first commercial launch service provider. 
                It undertakes the operation and marketing of the Ariane programme. The company offers a number 
                of different launch vehicles: the heavy-lift Ariane 5 for dual launches to geostationary transfer 
                orbit, the Soyuz-2 as a medium-lift alternative, and the solid-fueled Vega for lighter payloads.</p><br />
                
                <a href="https://astra.com/" target="_blank"><img id="Astra" class="logo" src="\images\Astra.png" alt="Astra Space" /></a><br />
                <h4>Astra Space</h4>
                <p>Astra provides launch services from Kodiak, Alaska and Cape Canaveral, and Florida.<br />
                (more Astra Spaceports coming soon)</p><br />
                
                <a href="https://axiomspace.com/" target="_blank"><img class="logo" src="\images\Axiom.png" alt="Axiom Space" /></a><br />
                <h4>Axiom Space</h4>
                <p>Founded in 2016, Axiom offers the World's first commercial space station missions designed with an 
                expert touch for both private and professional astronauts. Axiom's NASA-level training and full-service 
                mission management provides an accessible LEO (Low Earth Orbit) platform for space travelers of all 
                backgrounds.</p><br />
                
                <a href="https://www.blueorigin.com/" target="_blank"><img class="logo" src="\images\BlueOrigin.png" alt="Blue Origin" /></a><br />
                <h4>Blue Origin</h4>
                <p>Founded by Jeff Bezos (Amazon founder), Blue Origin is a privately funded American aerospace 
                manufacturer and sub-orbital spaceflight services company headquartered in Kent, Washington, that aims 
                to make access to space cheaper and more reliable through reusable launch vehicles. Rockets and passenger 
                capsules will send space tourists to the edge of space. The New Shepard rocket ascends to roughly 
                300,000 ft, then produces weightlessness during descent back to Earth.</p><br />
                
                <a href="https://www.boeing.com/" target="_blank"><img class="logo" src="\images\Boeing.png" alt="Boeing" /></a><br />
                <h4>Boeing</h4>
                <p>Boeing is contracted to bring astronauts to the International Space Station, along with SpaceX. 
                As part of their agreement, Boeing will have empty seats on some launches, which they are theoretically 
                permitted to sell to tourists. While any visits to the ISS require NASA approval, in early 2019 NASA 
                suggested that they may entertain this idea in the future – for the price of $35,000 per night.</p><br />
                
                <a href="https://firefly.com" target="_blank"><img class="logo" src="\images\Firefly.png" alt="Firefly Aerospace" /></a><br />
                <h4>Firefly Aerospace</h4>
                <p>Firefly Aerospace is a private American firm based in Austin, Texas, that develops launch vehicles for 
                commercial launches to orbit. They provide launch and in-space vehicles and services that offer industry-
                leading affordability, convenience, and reliability. Firefly's launch vehicles utilize common technologies, 
                manufacturing infrastructure, and launch capabilities, providing LEO launch solutions for up to ten metric 
                tons of payload at the lowest cost per kg in the small-launch class.</p><br />
                
                <a href="http://www.galactic-energy.cn/" target="_blank"><img id="Galactic" class="logo" src="\images\Galactic.png" alt="Galactic Energy" /></a><br />
                <h4>Galactic Energy</h4>
                <p>Galactic Energy is a Chinese private space launch enterprise developing the Ceres-1 and Pallas-1 orbital 
                rockets. Ceres-1 is a four-stage rocket, the first three stages use solid-propellant rocket motors and the 
                final stage uses a hydrazine propulsion system. It is about 19 m tall and 1.4 m in diameter.</p><br />
                
                <a href="https://www.nasa.gov" target="_blank"><img class="logo" src="\images\NASA.png" alt="NASA" /></a><br />
                <h4>NASA</h4>
                <p>The National Aeronautics and Space Administration is an independent agency of the U.S. federal government 
                responsible for the civilian space program, as well as aeronautics and space research.</p><br />
                
                <a href="http://en.roscosmos.ru/" target="_blank"><img class="logo" src="\images\Roscosmos.png" alt="Roscosmos" /></a><br />
                <h4>Roscosmos</h4>
                <p>The Russian Space Agency which works with NASA to help train and launch all astronauts to the International 
                Space Station since the end of the space shuttle program in 2011. Space Adventures purchases seats for tourists 
                on the Russian Soyuz rockets for visits to the International Space Station and short-term flights.</p><br />
                
                <a href="https://spacetourismguide.com/space-adventures/" target="_blank"><img class="logo" src="\images\Adventures.png" alt="Space Adventures" /></a><br />
                <h4>Space Adventures</h4>
                <p>Founded in 1998, Space Adventures is (to date) the only company which has sent paying customers to space. 
                Between 2001 and 2009, seven people paid to spend between 7-16 days aboard the International Space Station. 
                Currently accepting inquiries for trips to both the space station and around the moon. The price depends on who 
                provides the launch and how long you want to stay.</p><br />
                
                <a href="https://www.spacex.com/" target="_blank"><img class="logo" src="\images\SpaceX.png" alt="SpaceX" /></a><br />
                <h4>SpaceX</h4>
                <p>SpaceX is contracted to bring astronauts to the International Space Station, along with Boeing. Their contract 
                with NASA does allow them to carry space tourists to the ISS aboard Crew Dragon capsules. The first tourism launch 
                is scheduled for a trip around the moon in 2023 with Japanese entrepreneur, Yusaku Maezawa, along with several 
                artists.</p><br />
                
                <a href="http://www.thespaceshipcompany.com/" target="_blank"><img class="logo" src="\images\Spaceship.png" alt="The Spaceship Company" /></a><br />
                <h4>The Spaceship Company</h4>
                <p>This sister company of Virgin Galactic is comprised of hundreds of dedicated and passionate professionals 
                united in creating something new and lasting: the World's first commercial spaceline - a spaceline for Earth. 
                This British/American spacecraft manufacturing company was founded by Burt Rutan and Richard Branson in mid-2005 
                and was jointly owned by Virgin Group and Scaled Composites until 2012 when Virgin Galactic became the sole owner.</p><br />

            </section>
            <section id="Transport">
            <h2 class="banner">Space Transport</h2>
            <p class="note1">(flight only, no disemarkment)</p><br />
            
                <a href="https://copenhagensuborbitals.com/" target="_blank"><img class="logo" src="\images\Copenhagen.png" alt="Copenhagen Suborbitals" /></a><br />
                <h4>Copenhagen Suborbitals</h4>
                <p>A non-profit, non-open source, amateur, crowd-funded, all-volunteer organization with a human space program 
                located in Denmark. Since its beginning in 2008, Copenhagen Suborbitals has flown six home-built rockets and two 
                mock-up space capsules from their floating launch site in the Baltic sea. Their stated goal is to have one of the 
                members fly into space, on a sub-orbital spaceflight, in a space capsule on the Spica rocket.</p><br />
                
                <a href="https://masten.aero" target="_blank"><img class="logo" src="\images\Masten.png" alt="Masten Space Systems" /></a><br />
                <h4>Masten Space Systems</h4>
                <p>An aerospace manufacturer startup company in Mojave, California, that is developing a line of vertical takeoff, 
                vertical landing rockets, initially for uncrewed research sub-orbital spaceflights and eventually intended to 
                support robotic orbital spaceflight launches.</p><br />
                
                <a href="https://www.rocketlabusa.com" target="_blank"><img class="logo" src="\images\RocketLab.png" alt="Rocket Lab" /></a><br />
                <h4>Rocket Lab</h4>
                <p>A public American aerospace manufacturer and small satellite launch service provider with a wholly owned 
                New Zealand subsidiary. It developed a sub-orbital sounding rocket named Ātea and currently operates a 
                lightweight orbital rocket known as Electron, which provides dedicated launches for small satellites and 
                CubeSats.</p><br />
                
                <a href="https://www.spaceil.com/home-page" target="_blank"><img class="logo" src="\images\SpaceIL.png" alt="SpaceIL" /></a><br />
                <h4>SpaceIL</h4>
                <p>An Israeli non-profit organization established in 2011 that became the first private entity in history to 
                reach the moon in April 2019 by crashing their Beresheet lander on the lunar surface while competing in the 
                Google Lunar X Prize contest which involved sending a spacecraft to the moon. This positioned Israel as the 
                seventh country to acheive travel to the moon. The Beresheet 2 moon mission will launch in 2024.</p><br />
                
                <a href="https://www.ulalaunch.com" target="_blank"><img class="logo" src="\images\ULA.png" alt="United Launch Alliance" /></a><br />
                <h4>United Launch Alliance</h4>
                <p>Founded in 2006, ULA is the nation's most experienced space launch company with more than 145 consecutive 
                launches and a 100% mission success rate. This company manufactures and operates a number of rocket vehicles 
                that are capable of launching spacecraft into orbits around Earth and to other bodies in the Solar System. ULA 
                brings the utmost precision, passion and purpose to one of the most technically complex, critical American needs: 
                affordable, reliable access to space. </p><br />
                
                <a href="https://www.virgingalactic.com/" target="_blank"><img class="logo" src="\images\Virgin.png" alt="Virgin Galactic / Virgin Orbit" /></a><br />
                <h4>Virgin Galactic / Virgin Orbit</h4>
                <p>Founded by Richard Branson, Virgin Galactic offers a modified space plane flight: passengers will board the 
                VSS Unity. You’ll ascend to space, separate from the mother plane and rocket up to the edge of space. On the 
                descent, you’ll experience weightlessness and get to view the curve of Earth. </p><br />
                
                <a href="https://worldview.space/?sscid=41k6_61v0c" target="_blank"><img class="logo" src="\images\WorldView.png" alt="World View Enterprises (balloon launch)" /></a><br />
                <h4>World View Enterprises</h4>
                <p class="note2">(balloon launch company)</p>
                <p>This company is focused more on serving research and commercial business, but also includes a business arm 
                for space tourism. Travelers board a pressurized capsule which is raised to the edge of space using a massive 
                helium-filled balloon with up to five passengers and two crew. This five-hour flight provides a view of Earth up 
                to 100,000 feet in elevation.</p><br />
                
                <a href="https://www.zero2infinity.space/" target="_blank"><img class="logo" src="\images\Infinity.png" alt="Zero2Infinity (balloon launch)" /></a><br />
                <h4>Zero2Infinity</h4>
                <p class="note2">(balloon launch company)</p>
                <p>A Spanish aerospace company, one of the first to propose a feasible plan for space tourism with balloons. 
                Passengers board a ‘Bloon,’ a capsule capable of carrying four passengers and two crew up to the edge of space 
                during a four-hour flight. They are lifted by a helium balloon up to about 118,000 feet to see the edge of Earth 
                and the fine line of the atmosphere before slowly descending back to Earth by parachute.</p><br />
                
            </section>

            <section id="Lodging">
            <h2 class="banner">Cosmic Lodging</h2><br />
            
                <a href="https://spacetourismguide.com/bigelow-aerospace/" target="_blank"><img class="logo" src="\images\Bigelow.png" alt="Bigelow Aerospace" /></a><br />
                <h4>Bigelow Aerospace</h4>
                <p>"Space Hotels" - the ultimate Airbnb; provider of safe and low-cost commercial space habitats for low Earth 
                orbit, the moon and beyond.</p><br />
                
                <a href="https://www.sncorp.com/sierra-space/" target="_blank"><img class="logo" src="\images\SNC.png" alt="Sierra Nevada Corporation" /></a><br />
                <h4>Sierra Nevada Corporation</h4>
                <p>A private American company in Sparks, Nevada, founded in 1963 that has conducted over 400 space missions, 
                including 14 missions to Mars and cargo resupply to the ISS. SNC is planning to launch its Large Integrated 
                Flexible Environment (LIFE) habitat, a commercial space station with four-person inflatable structures that are 
                three stories tall and 27 feet wide, with a sleeping area, a lab, and space equipment to grow food. They propose 
                this could replace the International Space Station by 2028. After setting up a space station, Sierra Nevada aims 
                to use its Dream Chaser for cargo and crew transports of up to seven people. In the future, it hopes that 
                everyday people can use its developments to experience space themselves.</p><br />
                
            </section>
            
            <section id="Spacecraft">
            <h2 class="banner">Spacecraft Design & Technology</h2><br />
            
                <a href="https://www.northropgrumman.com/" target="_blank"><img class="logo" src="\images\Northrop.png" alt="Northrop Grumman Space Systems (formerly Orbital ATK)" /></a><br />
                <h4>Northrop Grumman Space Systems</h4>
                <p class="note2">(formerly Orbital ATK)</p>
                <p>Commercial space travel is possible as a result of recent advancements in propulsion methods, robotics and 
                communication, plus new solutions such as autonomous rocket-tracking technology. Traditionally, astronauts have 
                undergone extensive training to prepare physically and mentally for the challenges of space travel, but today’s 
                spacecraft are automated, so anyone who is healthy and wealthy can travel beyond our planet. Not only have 
                robotic spacecrafts improved, but so have the communication methods. With low latency live video feeds, an 
                amateur space traveler can get help from experts back on Earth.</p>
                <a href="https://now.northropgrumman.com/the-future-of-commercial-space-travel/">The future of commercial space travel according to Northrop Grumman</a><br />
                
                
                <a href="https://www.scaled.com" target="_blank"><img class="logo" src="\images\Scaled.png" alt="Scaled Composites" /></a><br />
                <h4>Scaled Composites</h4>
                <p>An American aerospace company founded by Burt Rutan and currently owned by Northrop Grumman. It is located at 
                the Mojave Air and Space Port in Mojave, California, United States. Founded to develop experimental aircraft, the 
                company now focuses on designing and developing concept craft and prototype fabrication processes for aircraft 
                and other vehicles.</p><br />
            </section><br />
        </article><br />
    
<div class="center">
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Index"> Earth (Home) </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Destinations"> Destinations </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Propulsion"> Propulsion Modes </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekPlan" asp-action="NewTrek"> Trek Planning </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekReservation" asp-action="NewRes"> Trek Reservations </a>
</div><br />

    //<table>
    //    <thead>
    //        <tr>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //            <th></th>
    //        </tr>
    //    </thead>
    //</table>

    <div class="accordion" id="companyAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="banner">Commercial Spacelines<br /></h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#companyAccordion">
      <div class="accordion-body">
      <code>
      <a href="https://www.arianespace.com/" target="_blank"><img class="logo" src="\images\Ariane.png" alt="Arianespace" /></a><br />
                <strong>Arianespace</strong><br />
                A French company founded in 1980 as the world's first commercial launch service provider. 
                It undertakes the operation and marketing of the Ariane programme. The company offers a number 
                of different launch vehicles: the heavy-lift Ariane 5 for dual launches to geostationary transfer 
                orbit, the Soyuz-2 as a medium-lift alternative, and the solid-fueled Vega for lighter payloads.<br />
                
                <a href="https://astra.com/" target="_blank"><img id="Astra" class="logo" src="\images\Astra.png" alt="Astra Space" /></a><br />
                <strong>Astra Space</strong><br />
                Astra provides launch services from Kodiak, Alaska and Cape Canaveral, and Florida.<br />
                (more Astra Spaceports coming soon)<br />
                
                <a href="https://axiomspace.com/" target="_blank"><img class="logo" src="\images\Axiom.png" alt="Axiom Space" /></a><br />
                <strong>Axiom Space</strong><br />
                Founded in 2016, Axiom offers the World's first commercial space station missions designed with an 
                expert touch for both private and professional astronauts. Axiom's NASA-level training and full-service 
                mission management provides an accessible LEO (Low Earth Orbit) platform for space travelers of all 
                backgrounds.<br />
                
                <a href="https://www.blueorigin.com/" target="_blank"><img class="logo" src="\images\BlueOrigin.png" alt="Blue Origin" /></a><br />
                <strong>Blue Origin</strong><br />
                Founded by Jeff Bezos (Amazon founder), Blue Origin is a privately funded American aerospace 
                manufacturer and sub-orbital spaceflight services company headquartered in Kent, Washington, that aims 
                to make access to space cheaper and more reliable through reusable launch vehicles. Rockets and passenger 
                capsules will send space tourists to the edge of space. The New Shepard rocket ascends to roughly 
                300,000 ft, then produces weightlessness during descent back to Earth.<br />
                
                <a href="https://www.boeing.com/" target="_blank"><img class="logo" src="\images\Boeing.png" alt="Boeing" /></a><br />
                <strong>Boeing</strong><br />
                Boeing is contracted to bring astronauts to the International Space Station, along with SpaceX. 
                As part of their agreement, Boeing will have empty seats on some launches, which they are theoretically 
                permitted to sell to tourists. While any visits to the ISS require NASA approval, in early 2019 NASA 
                suggested that they may entertain this idea in the future – for the price of $35,000 per night.<br />
                
                <a href="https://firefly.com" target="_blank"><img class="logo" src="\images\Firefly.png" alt="Firefly Aerospace" /></a><br />
                <strong>Firefly Aerospace</strong><br />
                Firefly Aerospace is a private American firm based in Austin, Texas, that develops launch vehicles for 
                commercial launches to orbit. They provide launch and in-space vehicles and services that offer industry-
                leading affordability, convenience, and reliability. Firefly's launch vehicles utilize common technologies, 
                manufacturing infrastructure, and launch capabilities, providing LEO launch solutions for up to ten metric 
                tons of payload at the lowest cost per kg in the small-launch class.<br />
                
                <a href="http://www.galactic-energy.cn/" target="_blank"><img id="Galactic" class="logo" src="\images\Galactic.png" alt="Galactic Energy" /></a><br />
                <strong>Galactic Energy</strong><br />
                Galactic Energy is a Chinese private space launch enterprise developing the Ceres-1 and Pallas-1 orbital 
                rockets. Ceres-1 is a four-stage rocket, the first three stages use solid-propellant rocket motors and the 
                final stage uses a hydrazine propulsion system. It is about 19 m tall and 1.4 m in diameter.<br />
                
                <a href="https://www.nasa.gov" target="_blank"><img class="logo" src="\images\NASA.png" alt="NASA" /></a><br />
                <strong>NASA</strong><br />
                The National Aeronautics and Space Administration is an independent agency of the U.S. federal government 
                responsible for the civilian space program, as well as aeronautics and space research.<br />
                
                <a href="http://en.roscosmos.ru/" target="_blank"><img class="logo" src="\images\Roscosmos.png" alt="Roscosmos" /></a><br />
                <strong>Roscosmos</strong><br />
                The Russian Space Agency which works with NASA to help train and launch all astronauts to the International 
                Space Station since the end of the space shuttle program in 2011. Space Adventures purchases seats for tourists 
                on the Russian Soyuz rockets for visits to the International Space Station and short-term flights.<br />
                
                <a href="https://spacetourismguide.com/space-adventures/" target="_blank"><img class="logo" src="\images\Adventures.png" alt="Space Adventures" /></a><br />
                <strong>Space Adventures</strong><br />
                Founded in 1998, Space Adventures is (to date) the only company which has sent paying customers to space. 
                Between 2001 and 2009, seven people paid to spend between 7-16 days aboard the International Space Station. 
                Currently accepting inquiries for trips to both the space station and around the moon. The price depends on who 
                provides the launch and how long you want to stay.<br />
                
                <a href="https://www.spacex.com/" target="_blank"><img class="logo" src="\images\SpaceX.png" alt="SpaceX" /></a><br />
                <strong>SpaceX</strong><br />
                SpaceX is contracted to bring astronauts to the International Space Station, along with Boeing. Their contract 
                with NASA does allow them to carry space tourists to the ISS aboard Crew Dragon capsules. The first tourism launch 
                is scheduled for a trip around the moon in 2023 with Japanese entrepreneur, Yusaku Maezawa, along with several 
                artists.<br />
                
                <a href="http://www.thespaceshipcompany.com/" target="_blank"><img class="logo" src="\images\Spaceship.png" alt="The Spaceship Company" /></a><br />
                <strong>The Spaceship Company</strong><br />
                This sister company of Virgin Galactic is comprised of hundreds of dedicated and passionate professionals 
                united in creating something new and lasting: the World's first commercial spaceline - a spaceline for Earth. 
                This British/American spacecraft manufacturing company was founded by Burt Rutan and Richard Branson in mid-2005 
                and was jointly owned by Virgin Group and Scaled Composites until 2012 when Virgin Galactic became the sole owner.<br />
      </code>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h2 class="banner">Space Transport</h2>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#companyAccordion">
      <div class="accordion-body">
      <code>
                <a href="https://copenhagensuborbitals.com/" target="_blank"><img class="logo" src="\images\Copenhagen.png" alt="Copenhagen Suborbitals" /></a><br />
                <strong>Copenhagen Suborbitals</strong><br />
                A non-profit, non-open source, amateur, crowd-funded, all-volunteer organization with a human space program 
                located in Denmark. Since its beginning in 2008, Copenhagen Suborbitals has flown six home-built rockets and two 
                mock-up space capsules from their floating launch site in the Baltic sea. Their stated goal is to have one of the 
                members fly into space, on a sub-orbital spaceflight, in a space capsule on the Spica rocket.<br />
                
                <a href="https://masten.aero" target="_blank"><img class="logo" src="\images\Masten.png" alt="Masten Space Systems" /></a><br />
                <strong>Masten Space Systems</strong><br />
                An aerospace manufacturer startup company in Mojave, California, that is developing a line of vertical takeoff, 
                vertical landing rockets, initially for uncrewed research sub-orbital spaceflights and eventually intended to 
                support robotic orbital spaceflight launches.<br />
                
                <a href="https://www.rocketlabusa.com" target="_blank"><img class="logo" src="\images\RocketLab.png" alt="Rocket Lab" /></a><br />
                <strong>Rocket Lab</strong><br />
                A public American aerospace manufacturer and small satellite launch service provider with a wholly owned 
                New Zealand subsidiary. It developed a sub-orbital sounding rocket named Ātea and currently operates a 
                lightweight orbital rocket known as Electron, which provides dedicated launches for small satellites and 
                CubeSats.<br />
                
                <a href="https://www.spaceil.com/home-page" target="_blank"><img class="logo" src="\images\SpaceIL.png" alt="SpaceIL" /></a><br />
                <strong>SpaceIL</strong><br />
                An Israeli non-profit organization established in 2011 that became the first private entity in history to 
                reach the moon in April 2019 by crashing their Beresheet lander on the lunar surface while competing in the 
                Google Lunar X Prize contest which involved sending a spacecraft to the moon. This positioned Israel as the 
                seventh country to acheive travel to the moon. The Beresheet 2 moon mission will launch in 2024.<br />
                
                <a href="https://www.ulalaunch.com" target="_blank"><img class="logo" src="\images\ULA.png" alt="United Launch Alliance" /></a><br />
                <strong>United Launch Alliance</strong><br />
                Founded in 2006, ULA is the nation's most experienced space launch company with more than 145 consecutive 
                launches and a 100% mission success rate. This company manufactures and operates a number of rocket vehicles 
                that are capable of launching spacecraft into orbits around Earth and to other bodies in the Solar System. ULA 
                brings the utmost precision, passion and purpose to one of the most technically complex, critical American needs: 
                affordable, reliable access to space.<br />
                
                <a href="https://www.virgingalactic.com/" target="_blank"><img class="logo" src="\images\Virgin.png" alt="Virgin Galactic / Virgin Orbit" /></a><br />
                <strong>Virgin Galactic / Virgin Orbit</strong><br />
                Founded by Richard Branson, Virgin Galactic offers a modified space plane flight: passengers will board the 
                VSS Unity. You’ll ascend to space, separate from the mother plane and rocket up to the edge of space. On the 
                descent, you’ll experience weightlessness and get to view the curve of Earth. <br />
                
                <a href="https://worldview.space/?sscid=41k6_61v0c" target="_blank"><img class="logo" src="\images\WorldView.png" alt="World View Enterprises (balloon launch)" /></a><br />
                <strong>World View Enterprises</strong><br />
                (balloon launch company)<br />
                This company is focused more on serving research and commercial business, but also includes a business arm 
                for space tourism. Travelers board a pressurized capsule which is raised to the edge of space using a massive 
                helium-filled balloon with up to five passengers and two crew. This five-hour flight provides a view of Earth up 
                to 100,000 feet in elevation.<br />
                
                <a href="https://www.zero2infinity.space/" target="_blank"><img class="logo" src="\images\Infinity.png" alt="Zero2Infinity (balloon launch)" /></a><br />
                <strong>Zero2Infinity</strong><br />
                (balloon launch company)<br />
                A Spanish aerospace company, one of the first to propose a feasible plan for space tourism with balloons. 
                Passengers board a ‘Bloon,’ a capsule capable of carrying four passengers and two crew up to the edge of space 
                during a four-hour flight. They are lifted by a helium balloon up to about 118,000 feet to see the edge of Earth 
                and the fine line of the atmosphere before slowly descending back to Earth by parachute.<br />
      </code>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h2 class="banner">Cosmic Lodging</h2><br />
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#companyAccordion">
      <div class="accordion-body">
      <code>
                <a href="https://spacetourismguide.com/bigelow-aerospace/" target="_blank"><img class="logo" src="\images\Bigelow.png" alt="Bigelow Aerospace" /></a><br />
                <strong>Bigelow Aerospace</strong><br />
                "Space Hotels" - the ultimate Airbnb; provider of safe and low-cost commercial space habitats for low Earth 
                orbit, the moon and beyond.<br />
                
                <a href="https://www.sncorp.com/sierra-space/" target="_blank"><img class="logo" src="\images\SNC.png" alt="Sierra Nevada Corporation" /></a><br />
                <strong>Sierra Nevada Corporation</strong><br />
                A private American company in Sparks, Nevada, founded in 1963 that has conducted over 400 space missions, 
                including 14 missions to Mars and cargo resupply to the ISS. SNC is planning to launch its Large Integrated 
                Flexible Environment (LIFE) habitat, a commercial space station with four-person inflatable structures that are 
                three stories tall and 27 feet wide, with a sleeping area, a lab, and space equipment to grow food. They propose 
                this could replace the International Space Station by 2028. After setting up a space station, Sierra Nevada aims 
                to use its Dream Chaser for cargo and crew transports of up to seven people. In the future, it hopes that 
                everyday people can use its developments to experience space themselves.<br />
      </code>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <h2 class="banner">Spacecraft Design & Technology</h2><br />
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#companyAccordion">
      <div class="accordion-body">
        <code>
                <a href="https://www.northropgrumman.com/" target="_blank"><img class="logo" src="\images\Northrop.png" alt="Northrop Grumman Space Systems (formerly Orbital ATK)" /></a><br />
                <strong>Northrop Grumman Space Systems</strong><br />
                (formerly Orbital ATK)<br />
                Commercial space travel is possible as a result of recent advancements in propulsion methods, robotics and 
                communication, plus new solutions such as autonomous rocket-tracking technology. Traditionally, astronauts have 
                undergone extensive training to prepare physically and mentally for the challenges of space travel, but today’s 
                spacecraft are automated, so anyone who is healthy and wealthy can travel beyond our planet. Not only have 
                robotic spacecrafts improved, but so have the communication methods. With low latency live video feeds, an 
                amateur space traveler can get help from experts back on Earth.<br />
                <a href="https://now.northropgrumman.com/the-future-of-commercial-space-travel/">The future of commercial space travel according to Northrop Grumman</a><br />
                
                <a href="https://www.scaled.com" target="_blank"><img class="logo" src="\images\Scaled.png" alt="Scaled Composites" /></a><br />
                <strong>Scaled Composites</strong><br />
                An American aerospace company founded by Burt Rutan and currently owned by Northrop Grumman. It is located at 
                the Mojave Air and Space Port in Mojave, California, United States. Founded to develop experimental aircraft, the 
                company now focuses on designing and developing concept craft and prototype fabrication processes for aircraft 
                and other vehicles.<br />
        </code>
      </div>
    </div>
  </div>
</div>
}
