@*
    
*@

@{
    ViewData["Title"] = "Destinations";
    <h1 class="display-4">Destinations</h1><br />

    <img class="pic" src="\images\Habitable Zone.jpg" alt="Arianespace" />
    <div>
    <article>

        <section id="Options">
            <h2 class="banner">Current Space Travel Options</h2><br />
                <ul id="destList">
                <li class="destList">Intersellar Habitats</li>
                <li class="destList">Earth's Moon</li>
                <li class="destList">Venus</li>
                <li class="destList">Mars</li>
                </ul>

        </section><br />

        <section id="Purpose">
            <h2>Why would humanity consider living on other planets or in space?</h2><br />
            <p>The habitable zone is the region where liquid water can exist, considered by most scientists to be the area ripe for life to evolve,” according to Space.com. 
            The habitable zones change over very long periods of time. One day, Earth’s sun will die, too.  About 320 light-years from Earth lies a star that foreshadows how 
            our sun will die. W Hydrae — once the near-twin of the sun — is a giant red star on the way to its deathbed.</p><br />

            <p>Cornell University reports that as the supply of hydrogen fuel in a star runs low — instead of simply sputtering out — the star flares up, burning the last of 
            its fuel more rapidly, thus becoming brighter. According to Space.com, a dying star also swells out physically, expanding into a red giant star. Its surface area 
            becomes so extensive that the surface cools down even though it is radiating more energy. In the final stage of its life cycle, a red giant star’s core “continues 
            to collapse in on itself. Smaller stars, such as the sun, end their lives as compact white dwarfs. The material of larger, more massive stars fall inward until the 
            star eventually becomes a supernova, blowing off gas and dust in a dramatic fiery death,” said Space.com.</p><br />

            <p>When the sun swells up to W Hydrae’s dimensions — as it will in about 5 billion years — it will swallow up the Earth and gradually vaporize it. Mars will most 
            likely become the innermost remaining planet. There is a glimmer of hope for humanity, however. “The changing sun may provide hope to other planets . . . when stars 
            morph into red giants, they change the habitable zones of their system.</p><br />

        </section><br />
    
    <p class="note1">Watch the NASA video below to see how astronomers<br />caught a red giant star in the act of devouring one of its planets.<br />It could be a preview of what will happen to Earth five billion years from now.</p><br />

    <iframe width="967" height="544" src="https://www.youtube.com/embed/h1V7-ZNPeXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
    </article><br />
    </div><br />

<div class="center">
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Index"> Earth (Home) </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Companies"> Space Companies </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Propulsion"> Propulsion Modes </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekPlan" asp-action="NewTrek"> Trek Planning </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekReservation" asp-action="NewRes"> Trek Reservations </a>
</div><br />
        
}
