@*
    
*@
@{
    ViewData["Title"] = "Propulsion Modes";
    <h1 class="display-4">Propulsion Modes</h1><br />
    <div>
        <article>
            <section>
            <h3>How long is the Trek to Mars?</h3><br />

                <p>This is really asking two different questions: </p>
                <p class="note4">#1 How far away is Mars?</p>
                <p class="note4">#2 How much time is required to travel that distance?</p>

                <p>The answer to question #1 is constantly changing.</p>
                <p>The answer to question #2 depends on which propulsion mode you choose for your trek.</p><br />

                <p>Mars is currently 171.21 million miles from earth, about 3 light-years away.  The distance from Earth continuously changes due to its elliptical orbit. 
                In 2003, Mars was the closest to Earth than it had been in the previous 60,000 years.  Mars will not be that close again until the year 2287. </p><br />

                <p class="center">minimum distance =  33.9 million miles</p>
                <p class="center">maximum distance = 250 million miles</p><br />

                <p>Going to Mars seems unrealistic because we relate distance to time. According to NASA, travel modes with conventional propulsion would get you to Mars 
                in about 9 months. SpaceX estimates the same trek can be accomplished with their spacecraft in 6 months. The duration of a trek depends on your selections 
                for destination, departure date, spaceline company, rocket type, and propulsion mode.</p>
            </section>

            <h3 class="banner">Conventional Propulsion vs.<br />Warp Drive Technology</h3><br />
            <section><br />
            
            <p>Most of the propulsion of a spacecraft is used to escape the gravitational force of Earth’s atmosphere.  Once a spacecraft has entered space flight, 
            much less propellant is required to attain and maintain high speeds to the destination.  There are a variety of conventional chemical propellants that are 
            used for modern space flight.  However, we now have a new option for traveling at warp speed. This comes with a higher cost for passengers, but ensures 
            ComoTrekers will reach their destination at an exponentially faster speed.</p><br />

                <h2>Conventional Propulsion</h2><br />
                <p>Chemical propellants (solid and liquid) deliver specific impulse values ranging from about 175 up to about 300 seconds. The most energetic chemical 
                propellants are theoretically capable of specific impulses up to about 400 seconds.</p><br />
            </section>

            <section>
                <h4>Solid Propellants</h4><br />
                <p>Two general types of solid propellants are in use. The first, the so called double-base propellant, consists of nitrocellulose and nitroglycerine, plus 
                additives in small quantity. There is no separate fuel and oxidizer. The molecules are unstable, and upon ignition break apart and rearrange themselves, 
                liberating large quantities of heat. These propellants lend themselves well to smaller rocket motors.</p><br />

                <p>The other type of solid propellant is the composite. Here, separate fuel and oxidized chemicals are used, intimately mixed in the solid grain. The oxidizer 
                is usually ammonium nitrate, potassium chlorate, or ammonium chlorate, and often comprises as much as four-fifths or more of the whole propellant mix. The fuels 
                used are hydrocarbons, such as asphaltic-type compounds, or plastics.</p><br />

                <h4>Liquid Propellants</h4><br />
                <p>Most liquid chemical rockets use two separate propellants: a fuel and an oxidizer. Typical fuels include kerosene, alcohol, hydrazine and its derivatives, 
                and liquid hydrogen. Many others have been tested and used. Oxidizers include nitric acid, nitrogen tetroxide, liquid oxygen, and liquid fluorine. Some of the 
                best oxidizers are liquified gases, such as oxygen and fluorine, which exist as liquids only at very low temperatures; this adds greatly to the difficulty of 
                their use in rockets. Most fuels, with the exception of hydrogen, are liquids at ordinary temperatures.</p><br />
             </section>

             <section>
             <h2>Warp Drive Technology</h2><br />

                <p>The video below highlights new Warp Drive technology that enables space travel with an exponential reduction in time for traversing linear distance.  Once a 
                rocket escapes Earth’s gravity and enters outer space, a spacecraft can enter a Warp Bubble to reach its destination <em>AT THE SPEED OF LIGHT</em>!<br />
                Warp Speed is now available due to recent advances in these fields: </p>

                <ul id="warpList">
                <li class="warpList">Einstein’s Field Equations (relativity)</li>
                <li class="warpList">Alcubierre Warp Drive Engine</li>
                <li class="warpList">Nanoscale Torsion Bubble</li>
                <li class="warpList">White’s Casimir Cavity (NASA/DARPA, 2021)</li>
                <li class="warpList">Quantum Scale Forces</li>
                <li class="warpList">Chip Scale Experiments</li>
                <li class="warpList">Negative Vacuum Energy Density Distribution</li>
                </ul><br />
             </section>
        <p class="note1">View the video below to learn about the new Warp Speed travel mode available now for all CosmoTrekers.</p>
        <iframe class="center" width="967" height="544" src="https://www.youtube.com/embed/MtXOLkVrdmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        </article>
    </div>
    
<div class="center">
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Index"> Earth (Home) </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Destinations"> Destinations </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Companies"> Space Companies </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekPlan" asp-action="NewTrek"> Trek Planning </a>
    <a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekReservation" asp-action="NewRes"> Trek Reservations </a>
</div><br />
}
