@{
    ViewData["Title"] = "Earth (Home)";
}

<div class="text-center">
    <h1 class="display-4">CosmoTrek</h1>
    <h2 class="note3">* your ticket to a whole new world *</h2><br />
    
    <img class="rocketman" src="\images\rocketman.gif" alt="Rocketman" /><br />
</div>

<div>
    <article>
        <section>
            <br />
            <h3>CosmoTrek helps you learn about current space travel options and plan your cosmic journey.</h3><br />
            <br />
            <h4><a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Destinations">Destinations</a></h4>
            <p>Learn about the options in the Habitable Zone and why we need to escape from planet Earth.</p><br />
            <h4><a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Companies">Space Companies</a></h4>
            <p>A complete listing of companies that provide services for Commercial Spacelines, Space Transport, Cosmic Lodging, and Spacecraft Design</p><br />
            <h4><a class="nav-link color: #0000EE" asp-area="" asp-controller="Home" asp-action="Propulsion">Propulsion Modes</a></h4>
            <p>Discover the options between conventional propellents and new advances with warp drive technology.</p><br />
            <h4><a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekPlan" asp-action="NewTrek">Trek Planning</a></h4>
            <p>Make selections to plan your trek with automatic calculations for distance, flight time, and cost.</p><br />
            <h4><a class="nav-link color: #0000EE" asp-area="" asp-controller="TrekReservation" asp-action="NewRes">Trek Reservations</a></h4>
            <p>Lock in a reservation for your customized Trek Plan. The sky is no limit!</p><br />
            <br />
        </section>
    </article>
</div>
